<div id="transition" class="hiddenfromstart">Music</div>

<div class="jumbotron cadetblue">
  <div class="row">
    <div class="col-12 text-center">
      <div class="picture hiddenfromstart">
      <%= image_tag("rain3.jpg", class: "img-fluid rounded mw-100") %>
      <br>
      <br>
      <p>
        <b>
          Aren't random public domain photos just awesome? <br></b>(They sometimes trick people into thinking that my website is artsy!)
      </p>
    </div>

      <h1 class="text-center hiddenfromstart">
        <%= t 'music' %>
      </h1>
      <hr />

      <ul>
        <li class="mb-3 hiddenfromstart">
          Basically, I'm a Philosopher, Programmer and Death Metaller.
        </li>
      </ul>

    </div>

    <div class="col-lg-6 col-md-4 col-sm-12 mb-4">
      <div class="text-center p-1">


      </div>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-12 text-justify">

    </div>
  </div>

  <hr/>
  <br>

</div>
