<div id="transition" class="hiddenfromstart">Hire</div>

<div class="jumbotron honeydew">
  <div class="row">
    <div class="col-12 text-justify">
      <h1 class="text-center">
        <%= t 'hire' %>
      </h1>
    </div>

    <div class="col-12 text-center mb-5">
      <p>
        Need a web application? I'll create a Ruby-on-Rails app for you!
      </p>
      <p>
        If you are a charity-organization, I might do it for free, just contact me!
      </p>

      <button type="button" class="btn btn-success btn-lg btn-block hireme1 multilinebutton">Hire me as a programmer</button>
      <div id="contact1" class="hiddenfromstart  d-none m-5">
        <p>
          <b>Mail: </b><a href="mailto:sandro.raess@philosophie.ch">sandro.raess_at_philosophie.ch</a><br>
          <b>Skype: </b>crystal-metal<br>
          <b>Phone: </b>079 428 56 16
        </p>
      </div>
    </div>

    <div class="col-12 text-center">
      <p>
        In need of some philosophical input? I'll bring you some wisdom, I can guarantee you that!
      </p>
      <button type="button" class="btn btn-success btn-lg btn-block hireme2 multilinebutton">Hire me as a philosopher</button>

      <div id="contact2" class="hiddenfromstart  d-none m-5">
        <p>
          <b>Mail: </b><a href="mailto:sandro.raess@philosophie.ch">sandro.raess_at_philosophie.ch</a><br>
          <b>Skype: </b>crystal-metal<br>
          <b>Phone: </b>079 428 56 16
        </p>
      </div>
      <br>
      <br>

      <button id="why1" type="button" class="btn btn-primary btn-lg btn-block multilinebutton">Wait, wait, wait... <br> Why on earth would anyone hire a philosopher?</button>

    <p>
      Well, one reason you might need a philosopher is because you might be facing <b>philosophical problems</b>.
    </p>
    <p>
      Simply put, there are <b>two kinds of philosophical problems</b>, namely, <b> ethical </b> and <b>conceptual</b>.
      <ul>
        <li>Ethical </li>
        <li></li>
      </ul>
      <b></b>
    </p>

    </div>


    <div class="col-12 text-justify">

      <p>
        Hire me as a programmer
      </p>

      <p>
        Hire me as a philosopher
      </p>

      <p>
        Why on earth should anyone hire a philosopher?
        Philosophical problems.
      </p>
      <p>
        If you have to use arguments, <b>you have already lost</b>.
        Ordinary People are <b>creatures of habit</b>.
        This means that ordinary people, <b>even if they accept an argument</b>, likely won't change their ways because doing so would require <b>work and a strong will</b>.
        Further, to properly consider an argument requires an <b>aspiration, a desire to know the truth</b>, which ordinary people often lack.
        Therefore, using arguments in order to deal with ordinary people is rather <b>pointless</b>.
      </p>
      <p>

        Two options come into mind:
      <ul>
        <li class="mb-3">
          <b>Proper Upbringing and Education: </b> We educate our children and fellow human beings in a way that makes them <b>courageous, reasonable and virtuous</b>.
        </li>
        <li class="mb-3">
          <b>Influence Culture: </b> Change culture in a way that ordinary people in it are disposed to do right thing anyway.
        </li>
      </ul>

      The first option
      </p>
      <hr/>
      <br>
    </div>
  </div>
</div>

<script>

    $( document ).ready(function() {

        $( ".hireme1" ).click(function() {
            var div = $( "#contact1" );
            if (div.hasClass("d-none")){
               div.removeClass("animated fadeOutUp");
                div.removeClass("d-none").addClass("animated fadeInDown");
            } else {
                //$( "#contact1" ).addClass("animated fadeOutUp").delay(300).addClass("d-none");
                div.removeClass("animated fadeInDown");
                div.addClass("animated fadeOutUp").delay(500).queue(function(){
                  div.addClass("d-none").dequeue();
                });
            }

        });

        $( ".hireme2" ).click(function() {
            var div = $( "#contact2" );
            if (div.hasClass("d-none")){
                div.removeClass("animated fadeOutUp");
                div.removeClass("d-none").addClass("animated fadeInDown");
            } else {
                //$( "#contact1" ).addClass("animated fadeOutUp").delay(300).addClass("d-none");
                div.removeClass("animated fadeInDown");
                div.addClass("animated fadeOutUp").delay(500).queue(function(){
                    div.addClass("d-none").dequeue();
                });
            }

        });

        $( "#why1" ).click(function() {
            var div = $( "#contact2" );
            if (div.hasClass("d-none")){
                div.removeClass("animated fadeOutUp");
                div.removeClass("d-none").addClass("animated fadeInDown");
            } else {
                //$( "#contact1" ).addClass("animated fadeOutUp").delay(300).addClass("d-none");
                div.removeClass("animated fadeInDown");
                div.addClass("animated fadeOutUp").delay(500).queue(function(){
                    div.addClass("d-none").dequeue();
                });
            }

        });

    });



</script>