<div id="transition" class="hiddenfromstart">Hire</div>

<div class="jumbotron honeydew">
  <div class="row">
    <div class="col-12 text-justify">
      <h1 class="text-center">
        <%= t 'hire' %>
      </h1>
    </div>

    <div class="col-12 text-center mb-5">
      <p>
        Need a web application? I'll create a Ruby-on-Rails app for you!
      </p>
      <p>
        If you are a charity-organization, I might do it for free, just contact me!
      </p>

      <button type="button" data-target="contact1" class="btn btn-success btn-lg btn-block multilinebutton">Hire me as a programmer</button>
      <div id="contact1" class="hiddenfromstart  d-none m-5">
        <p>
          <b>Mail: </b><a href="mailto:sandro.raess@philosophie.ch">sandro.raess_at_philosophie.ch</a><br>
          <b>Skype: </b>crystal-metal<br>
          <b>Phone: </b>079 428 56 16
        </p>
      </div>
      <hr/>
    </div>
    <div class="col-12 text-center">
      <p>
        In need of some philosophical input?
      </p>
      <p>
        I'll bring you some wisdom, I can guarantee you that!
      </p>
      <button type="button" data-target="contact2" class="btn btn-success btn-lg btn-block multilinebutton">Hire me as a philosopher</button>

      <div id="contact2" class="hiddenfromstart  d-none m-5">
        <p>
          <b>Mail: </b><a href="mailto:sandro.raess@philosophie.ch">sandro.raess_at_philosophie.ch</a><br>
          <b>Skype: </b>crystal-metal<br>
          <b>Phone: </b>079 428 56 16
        </p>
      </div>
      <br>
      <br>

      <button data-target="why1" type="button" class="btn btn-primary btn-lg btn-block multilinebutton mb-4">Wait, wait, wait... <br> Why on earth would anyone hire a philosopher?</button>

      <div id="why1" class="d-none">
        <p>
          Well, one reason you might need a philosopher is because you might be facing <b>philosophical problems</b>.
        </p>
        <p>
          Simply put, there are <b>two kinds</b> of philosophical problems: <b> ethical </b> and <b>conceptual</b>.
        </p>
        <div class="border border-info rounded text-justify p-3">
          <p>
            <b>Ethical problems</b> concern questions about <b>how we should live</b> and <b>how we should treat each others</b>.
            Philosophers are well-equipped to deal with questions about <b>justice</b> and <b>fairness</b>, <b>duties</b> and <b>rights</b>, <b>happiness</b> and <b>well-being.</b>
          </p>
          <p>
            However, <b>you probably don't give a shit about others or other living beings</b>, therefore you probably don't care about ethical problems in the first place.
          </p>
        </div>
        <br>

        <div class="border border-info rounded text-justify p-3">
          <p>
            <b>Conceptual problems</b> concern questions about <b>understanding</b> and <b>comprehension</b>.
            Sometimes, our problems don't consist in our lack of knowledge or our lack in skill but <b>in our failure to understand the issues and concepts at hand</b>.
          </p>
          <p>
            Philosophers are well-equipped to tackle conceptual problems <b>for they possess acumen and ingenuity</b> and <b>they master the tools of conceptual and logical analysis</b>.
          </p>
      </div>
        <br>
        <br>
        <button data-target="why2" type="button" class="btn btn-primary btn-lg btn-block multilinebutton mb-4">We don't have any philosophical problems.</button>

      </div>

      <div id="why2" class="d-none">
        <p>
          In that case, you might hire a philosopher because of their uniqueness and abilities.
          Well, one reason you might need a philosopher is because you might be facing <b>philosophical problems</b>.
        </p>
        <p>
          List of abilities.
        </p>
      </div>

  </div>
</div>
</div>

<script>

    $( document ).ready(function() {

        $(".btn").click(function(){
            console.log($(this).attr( "data-target" ));
            toggleButton($("#" + $(this).attr( "data-target" )));
        });

        function toggleButton(div) {
                if (div.hasClass("d-none")){
                    div.removeClass("animated fadeOutDown");
                    div.removeClass("d-none").addClass("animated fadeInUp");
                } else {
                    div.removeClass("animated fadeInUp");
                    div.addClass("animated fadeOutDown").delay(500).queue(function(){
                        div.addClass("d-none").dequeue();
                    });
                }
        }
    });



</script>