<div id="transition" class="hiddenfromstart">Hire</div>
<div class="jumbotron honeydew">
  <div class="row">
    <div class="col-12 text-justify">
      <h1 class="text-center hiddenfromstart">
        <%= t 'contact' %>
      </h1>
      <hr />
    </div>

    <div class="col-12 text-center mb-5 hiddenfromstart animated-divs">
      <p>
        Need a web application? I'll create a Ruby-on-Rails app for you!
      </p>
      <p>
        If you are a charity-organization, I might do it for free, just contact me!
      </p>
      <button type="button" data-target="contact1" class="btn btn-success btn-lg btn-block multilinebutton hiddenfromstart">Hire me as a programmer</button>
      <div id="contact1" class="hiddenfromstart  text-center d-none m-5">
        <p>
          <b>Mail: </b><a href="mailto:sandro.raess@philosophie.ch">sandro.raess_at_philosophie.ch</a><br>
          <b>Skype: </b>crystal-metal<br>
          <b>Phone: </b>079 428 56 16
        </p>
      </div>
      <hr />
    </div>

    <div class="col-12 text-center animated-divs hiddenfromstart">
      <p>
        In need of some philosophical input?
      </p>
      <p>
        I'll bring you some wisdom, I can guarantee you that!
      </p>
      <button type="button" data-target="contact2" class="btn btn-success btn-lg btn-block multilinebutton hiddenfromstart">Hire me as a philosopher</button>

      <div id="contact2" class="hiddenfromstart  d-none m-5">
        <p>
          <b>Mail: </b><a href="mailto:sandro.raess@philosophie.ch">sandro.raess_at_philosophie.ch</a><br>
          <b>Skype: </b>crystal-metal<br>
          <b>Phone: </b>079 428 56 16
        </p>
      </div>
      <br>
      <br>

      <button data-target="why1" type="button" class="btn btn-primary btn-lg btn-block multilinebutton mb-4 hiddenfromstart">Wait, wait, wait... <br> Why on earth would anyone hire a philosopher?</button>

      <div id="why1" class="d-none">
        <p>
          Well, one reason you might need a philosopher is because you might be facing <b>philosophical problems</b>.
        </p>
        <p>
          Simply put, there are <b>two kinds</b> of philosophical problems: <b> ethical </b> and <b>conceptual</b>.
        </p>
        <div class="border border-info rounded text-justify p-3">
          <p>
            <b>Ethical problems</b> concern questions about <b>how we should live</b> and <b>how we should treat each others</b>.
            Philosophers are well-equipped to deal with questions about <b>justice</b> and <b>fairness</b>, <b>duties</b> and <b>rights</b>, <b>happiness</b> and <b>well-being.</b>
          </p>
          <p>
            However, <b>you probably don't give a shit about others or other living beings</b>, therefore you probably don't care about ethical problems in the first place.
          </p>
        </div>
        <br>

        <div class="border border-info rounded text-justify p-3">
          <p>
            <b>Conceptual problems</b> concern questions about <b>understanding</b> and <b>comprehension</b>.
            Sometimes, our problems don't result from a lack of knowledge or a lack in skill but <b>from our failure to understand the issues or problems at hand</b>.
          </p>
          <p>
            Philosophers are well-equipped to tackle conceptual problems <b>for they master the tools of logical and conceptual analysis</b>, as well as <b>the various techniques of philosophical scrutiny</b>.
          </p>
      </div>
        <br>
        <br>
        <button data-target="why2" type="button" class="btn btn-primary btn-lg btn-block multilinebutton mb-4">Well, we don't have any philosophical problems...</button>

      </div>

      <div id="why2" class="d-none border border-info rounded text-justify p-3">
        <p>
          In that case, you might still hire a philosopher because of (a) <b>their uniqueness</b> and (b) <b>abilities</b> that are not only useful for philosophical matters, but also for many others.
        </p>
        <p>
          Of course, philosophers won't be a good pick to fill an accounting position or any other position that requires specific training for that very position.
          However, especially in today's era of globalization and industrialization, some challenges need to be faced that are <b>novel, complex and unprecedented</b>.
          And philosophers, <b>being used to tackle highly complex and difficult matters</b> (ever read a philosophy book?), may be of value in handling such challenges.
        </p>
        <p>
          Obviously, philosophers are not the only ones capable of coping with difficult situations.
          Basically every training of higher education provides crucial skills such as critical thinking or logical reasoning and one can acquire them without ever having visited a university or college at all.
          <b>Nonetheless</b>, philosophers may be of importance, precisely <b>because of their unique training in philosophy</b> which differentiates them from the "ordinary" economist, lawyer or politician.
          In the words of <b>Alexandra Hildebrandt</b>, people with a unique training can be the <b>jokers of the economy</b>.
        </p>
      </div>
  </div>
</div>
</div>

<script>

    $( document ).ready(function() {

        $(".btn").click(function(){
            console.log($(this).attr( "data-target" ));
            toggleButton($("#" + $(this).attr( "data-target" )));
            ahoy.track("hire: " + $(this).attr( "data-target" ), {language: "JavaScript"});
        });

        function toggleButton(div) {
                if (div.hasClass("d-none")){
                    div.removeClass("animated zoomOut");
                    div.removeClass("d-none").addClass("animated fadeIn");
                    $('html, body').animate({
                        scrollTop:div.offset().top
                    },'slow');
                } else {
                    div.removeClass("animated fadeIn");
                    div.addClass("animated zoomOut").delay(500).queue(function(){
                        div.addClass("d-none").dequeue();
                    });
                }
        }
    });



</script>
