<div id="transition" class="hiddenfromstart">Wisdom</div>

<div class="jumbotron indianred">
  <div class="row">
    <div class="col-12 text-justify">
      <h1 class="text-center">
        <%= t 'hire' %>
      </h1>
    </div>

    <div class="col-6 text-center">
      <a href="mailto:sandro.raess@philosophie.ch">mail</a>
      <h1>Need a website?</h1>
      <button type="button" class="btn btn-success btn-lg btn-block">Hire me as a programmer</button>
    </div>

    <div class="col-6">
      <button type="button" class="btn btn-success btn-lg btn-block">Hire me as a philosopher</button>

      <button type="button" class="btn btn-primary btn-lg btn-block multilinebutton">Wait, wait, wait... <br> Why on earth would anyone hire a philosopher?</button>
    </div>


    <div class="col-12 text-justify">

      <p>
        Hire me as a programmer
      </p>

      <p>
        Hire me as a philosopher
      </p>

      <p>
        Why on earth should anyone hire a philosopher?
        Philosophical problems.
      </p>
      <p>
        If you have to use arguments, <b>you have already lost</b>.
        Ordinary People are <b>creatures of habit</b>.
        This means that ordinary people, <b>even if they accept an argument</b>, likely won't change their ways because doing so would require <b>work and a strong will</b>.
        Further, to properly consider an argument requires an <b>aspiration, a desire to know the truth</b>, which ordinary people often lack.
        Therefore, using arguments in order to deal with ordinary people is rather <b>pointless</b>.
      </p>
      <p>

        Two options come into mind:
      <ul>
        <li class="mb-3">
          <b>Proper Upbringing and Education: </b> We educate our children and fellow human beings in a way that makes them <b>courageous, reasonable and virtuous</b>.
        </li>
        <li class="mb-3">
          <b>Influence Culture: </b> Change culture in a way that ordinary people in it are disposed to do right thing anyway.
        </li>
      </ul>

      The first option
      </p>
      <hr/>
      <br>
    </div>
  </div>
</div>
