<div id="transition" class="hiddenfromstart">Music</div>

<div class="jumbotron cadetblue">
  <div class="row">
    <div class="col-12 text-center">
      <%= image_tag("rain3.jpg", class: "img-fluid rounded mw-100 picture hiddenfromstart") %>
      <br>
      <br>
      <p>
        <b>
          Aren't random public domain photos just awesome? <br></b>(They sometimes trick people into thinking that my website is artsy!)
      </p>

      <h1 class="text-center hiddenfromstart">
        <%= t 'music' %>
      </h1>

      <ul>
        <li class="mb-3 hiddenfromstart">
          Basically, I'm a Philosopher, Programmer and Death Metaller.
        </li>
        <li class="mb-3 hiddenfromstart">
          In need of some <b>wisdom?</b> Then I'm the guy for you. I am also a pretty good at lying and leaving bad impressions.
        </li>
        <li class="mb-3 hiddenfromstart">
          I care about animals. In fact, I care so much about them, I don't even eat them. Crazy, right?
        </li>
        <li class="mb-3 hiddenfromstart">
          Check out my website for some information, music and programming stuff!
        </li>
        <li class="mb-3 hiddenfromstart">
          Check out my website for some information, music and programming stuff!
        </li>
        <li class="mb-3 hiddenfromstart">
          Check out my website for some information, music and programming stuff!
        </li>
        <li class="mb-3 hiddenfromstart">
          Check out my website for some information, music and programming stuff!
        </li>
        <li class="mb-3 hiddenfromstart">
          Check out my website for some information, music and programming stuff!
        </li>
        <li class="mb-3 hiddenfromstart">
          Check out my website for some information, music and programming stuff!
        </li>
        <li class="mb-3 hiddenfromstart">
          Check out my website for some information, music and programming stuff!
        </li>
        <li class="mb-3 hiddenfromstart">
          Check out my website for some information, music and programming stuff!
        </li>
        <li class="mb-3 hiddenfromstart">
          Check out my website for some information, music and programming stuff!
        </li>
        <li class="mb-3 hiddenfromstart">
          Check out my website for some information, music and programming stuff!
        </li>
        <li class="mb-3 hiddenfromstart">
          Check out my website for some information, music and programming stuff!
        </li>
        <li class="mb-3 hiddenfromstart">
          Check out my website for some information, music and programming stuff!
        </li>
        <li class="mb-3 hiddenfromstart">
          Check out my website for some information, music and programming stuff!
        </li>
        <li class="mb-3 hiddenfromstart">
          Check out my website for some information, music and programming stuff!
        </li>
        <li class="mb-3 hiddenfromstart">
          Check out my website for some information, music and programming stuff!
        </li>
        <li class="mb-3 hiddenfromstart">
          Check out my website for some information, music and programming stuff!
        </li>
        <li class="mb-3 hiddenfromstart">
          Check out my website for some information, music and programming stuff!
        </li>
        <li class="mb-3 hiddenfromstart">
          Link -to: Music - Link_to Death Metal
        </li>
      </ul>

    </div>

    <div class="col-lg-6 col-md-4 col-sm-12 mb-4">
      <div class="text-center p-1">


      </div>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-12 text-justify">

    </div>
  </div>

  <hr/>
  <br>

</div>
