<div id="transition" class="hiddenfromstart">Welcome</div>

<div class="jumbotron darkgoldenrod">
  <div class="row">

    <div class="col-lg-6 col-md-4 col-sm-12 mb-4 picture hiddenfromstart">
      <div class="text-center p-1">
        <%= image_tag("personalfoto.jpg", class: "img-fluid rounded") %>
        <br>
        <br>
        <p>
          <b>
            Sandro Räss
          </b>
        </p>
      </div>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-12 text-justify">
      <h1 class="text-center hiddenfromstart"><%= t 'aboutme' %></h1>
      <div class="text-justify">
        <ul>
        <li class="mb-3 hiddenfromstart">
          Basically, I'm a Philosopher, Programmer and Death Metaller.
        </li>
          <li class="mb-3 hiddenfromstart">
            In need of some <b>wisdom?</b> Then I'm the guy for you. I am also a pretty good at lying and leaving bad impressions.
          </li>
          <li class="mb-3 hiddenfromstart">
          I care about animals. In fact, I care so much about them, I don't even eat them. Crazy, right?
        </li>
          <li class="mb-3 hiddenfromstart">
          Check out my website for some information, music and programming stuff!
        </li>
          <li class="mb-3 hiddenfromstart">
            Link -to: Music - Link_to Death Metal
          </li>
        </ul>
      </div>
    </div>
  </div>

  <hr/>
  <br>

  </div>
