<div id="transition" class="hiddenfromstart">Wisdom</div>

<div class="jumbotron indianred">
  <div class="row">
    <div class="col-12 text-justify">
      <h1 class="text-center">On Ethics</h1>
      <hr />
      <p>
        It doesn't take much to realize that the world is filled with <b>ignorance</b> and <b>indifference</b>.
        This is unsurprising for injustice and unfairness are usually only perceived if one is personally affected by them.
        Further, to engage in ethical thinking requires <b>intellectual skills</b> (e.g. critical, analytical, synthesising and problem-solving skills)
        and also <b>a certain character</b>, one that is free from vices such as cowardice, conformity, laziness and insensibility.
      </p>
      <p>
        <b>What to do?</b>
      </p>
      <p>
        One answer might be that we should strive to bring out good character traits in our children and fellow human beings.
        Or, in other words, to make them <b>virtuous</b> (e.g. couragous, fair, wise and reasonable).
      </p>
      <p>
       <b> Good luck with that.</b>
      </p>
      <p>
        Another answer, a better one I think, is <b>to trick culture into adapting good habits and practices and abandoning bad habits and practices</b>.
        Why is this answer better? For one thing, humans are creatures of habit.
      </p>
      <p>
        Example: The not-eating of dogs and cats.
      </p>
      <p>
        A good knife is one that cuts well.<br>
        A good tree is one that has strong roots.<br>
        A good tiger is one that is good at hunting.<br>
        But is there such a thing as a <b> good human</b>?
      </p>
      <p>
       When it comes to evaluations, we usually have no problems.
        We usually have no problems when it comes to the evaluation
        Defective,
        self actualization

      </p>
      <p>
        There are vir
      </p>
      <p>
        If you have to use arguments, <b>you have already lost</b>.
        Ordinary People are <b>creatures of habit</b>.
        This means that ordinary people, <b>even if they accept an argument</b>, likely won't change their ways because doing so would require <b>work and a strong will</b>.
        Further, to properly consider an argument requires an <b>aspiration, a desire to know the truth</b>, which ordinary people often lack.
        Therefore, using arguments in order to deal with ordinary people is rather <b>pointless</b>.
      </p>
      <p>

        Two options come into mind:
        <ul>
          <li class="mb-3">
            <b>Proper Upbringing and Education: </b> We educate our children and fellow human beings in a way that makes them <b>courageous, reasonable and virtuous</b>.
          </li>
          <li class="mb-3">
            <b>Influence Culture: </b> Change culture in a way that ordinary people in it are disposed to do right thing anyway.
          </li>
        </ul>

      The first option
       Ricky Gervais twitter quotes
      </p>
      <hr/>
      <br>
    </div>

    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Collapsible Group Item #1
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Collapsible Group Item #2
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
    </div>

  </div>
</div>