<div id="transition" class="hiddenfromstart">Wisdom</div>

<div class="jumbotron indianred">
  <div class="row">
    <div class="col-12 text-justify">
      <h1 class="text-center"><%= t 'wisdom' %></h1>
      <p>
        If you have to use arguments, <b>you have already lost</b>.
        Ordinary People are <b>creatures of habit</b>.
        This means that ordinary people, <b>even if they accept an argument</b>, likely won't change their ways because doing so would require <b>work and a strong will</b>.
        Further, to properly consider an argument requires an <b>aspiration, a desire to know the truth</b>, which ordinary people often lack.
        Therefore, using arguments in order to deal with ordinary people is rather <b>pointless</b>.
      </p>
      <p>

        Two options come into mind:
        <ul>
          <li class="mb-3">
            <b>Proper Upbringing and Education: </b> We educate our children and fellow human beings in a way that makes them <b>courageous, reasonable and virtuous</b>.
          </li>
          <li class="mb-3">
            <b>Influence Culture: </b> Change culture in a way that ordinary people in it are disposed to do right thing anyway.
          </li>
        </ul>

      The first option
       Ricky Gervais twitter quotes
      </p>
      <hr/>
      <br>
    </div>
  </div>
</div>