body{
  overflow-x: hidden; // hide horizontal
}

.hiddenfromstart {
  opacity: 0;
}

.grad-white-black {
  //background: linear-gradient(160deg, white 50%, darkslategray);
  background: radial-gradient(at top left, lightgray ,darkslategray);
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.darkgoldenrod{
  background-color: darkgoldenrod !important;
}

.indianred {
  background-color: indianred !important;
}

.cadetblue {
  background-color: cadetblue !important;
}

.jumbotron {
  transition: background-color 1s ease !important;
}
