body{
  overflow-x: hidden; // hide horizontal
}

.hiddenfromstart {
  opacity: 0;
}

.grad-white-black {
  //background: linear-gradient(160deg, white 50%, darkslategray);
  background: radial-gradient(at top left, lightgray ,darkslategray);
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.darkgoldenrod{
  background-color: #f9b50e !important;
}

.indianred {
  background-color: #ff6d6d !important;
}

.cadetblue {
  background-color: #84d8da !important;
}

.honeydew {
  background-color: honeydew !important;
}

.jumbotron {
  transition: background-color 1s ease !important;
}

.multilinebutton{
  white-space:normal !important;
}
